li[type='mv']
, li[type='class']
, li[type='app']
, div.head-detail-info
, div.mod-side-nav-recently-used
, span.qz-app-flag.wing-fly
, a.icon-qzphone.qz-app-flag
, a.user-medal
, span.js-private-comment
, #qz-head-level
, #qz_notification
, #recent_visitors_side
, .vip-tag
, .vip-info-bar.open-vip
, .f-single-biz
, .openVipButton
, .continue-vip
, a[class^='qz_vip_icon']
, a[title='开通黄钻']
, img[alt='黄钻图标']
, img[alt='绿钻图标']
, img[alt='会员图标']
, a[title='开通黄钻查看被挡访客']
, a[title='点击开通访客详情特权']
, #nopower_see_refuse p:last-of-type
, #nopower_see_refuse .actions
{
	display: none !important;
}

/* 未开通黄钻时，查看某条说说浏览量的那个窗口 */
.ui-dl-bd {
	height: 310px !important;
}

/* 开通黄钻提示信息 */
.qz_pop_icon .txt {
	text-align: center;
	margin: 0 30px;
}
.qz_pop_icon .txt > h3 {
	font-size: 1.35em;
}
.qz_pop_icon .txt p:last-child a:last-child {
	text-decoration: none;
	color: #edba45;		/* 从黄钻官网找来的颜色 */
}
.qz_pop_icon .txt p:last-child a:last-child:hover {
	text-decoration: underline;
}
