/* 屏蔽广告 */
.user-vip-info {
	display: none !important;
}

/* 屏蔽Flash插件 */
.animation-shake {
	display: none !important;
}

/* 调整顶部 */
#headContainer {
	height: 250px !important;
}

/* 调整举报和顶部按钮位置 */
.report {
	margin-top: 20px;
}

/* 调整举报弹窗样式 */
#dialog_content_3, #jubao_frame {
	height: 360px !important;
}
