/* 更改QZone奇怪的样式 */
html {
	font-size: 100% !important;
}

/* 隐藏没必要的URL */
span.description-text {
	display: none;
}

/* 美化iframe */
iframe {
	border-radius: 0.5rem !important;
}
/* 隐藏日志广告信息 */
#blogPrivilegeAd {
	display: none;
}

/* 主页 */
#id_INNER {
	display: none !important;
}
#ifeedsContainer {
	padding-top: 0;
}
div.user-pto img {
	border: 1px solid #d0d7de !important;
}
#id_PHOTOWALL {
	margin-bottom: 0 !important;
}

/* 相册 */
.mod-tab-other {
	display: none !important;
}

/* 说说 */
div.feed_head.bbor3 {
	display: none;
}
div.bor.mod-tab.author_display {
	display: none;
}

/* 日志 */
#cheatHintArea
, span.userlevel
, span[rel^='user_vip_info_']
{
	display: none !important;
}
