/* 隐藏没用的元素 */
div.top-fix-bar
, span.btn-head-like
, #QM_100004_Body
, #tab_switch
, #weatherDiv
, #QM_Mood_Poster_Container
, .edit_title_link
{
    display: none;
}

#tab_hide_list {
    display: block !important;
}

/* 标题居中 */
div.head-info {
    position: relative !important;
    top: auto !important;
    text-align: center;
}
/* 标题美化 */
span.title-text {
    color: white !important;
    font-family: serif;
    font-size: 2.25rem !important;
    font-weight: 600;
}
div.head-detail-name > span.user-name {
    color: white !important;
    font-size: 1.5rem !important;
    font-family: serif;
}

/* 头部布局 */
div.layout-head {
    padding-top: 30px;
}
div.head-detail {
    position: relative !important;
    left: 0 !important;
}
div.head-detail-name {
    text-align: center;
    padding-top: 7px;
}
div.layout-nav, div.layout-nav-inner {
    height: 85px;
}
.layout-shop-item, .shop-item {
    position: relative !important;
}
#menuContainer {
    top: 200px !important;
}

/* 美化用户头像 */
img.user-avatar {
    border: 2px solid #d0d7de !important;
    border-radius: 50% !important;
}
div.head-avatar {
    position: relative !important;
    border: none !important;
    margin: 0 auto;
    bottom: 155px !important;
}

/* 美化导航栏 */
ul.head-nav-menu {
    display: flex;
    justify-content: space-between;
}
li[class^='menu_item_'] {
    height: 40px !important;
    border-radius: 0.5rem;

    background: white;
}
li[class^='menu_item_'] > a {
    width: 70px;
    height: 40px !important;
    padding: 0px !important;

    text-align: center;
    line-height: 40px !important;
    font-weight: 500;
}

/* 美化动态 */
li.f-single
, .fn-feed-control-v2
, #QM_Container_3
, #QM_Container_100003
{

    border-radius: 0.5rem !important;
}

/* 删除原背景 */
div.background-container
, div.layout-background
, div.layout-nav
, div.lay_background
{
    background: none!important;
}
/* 填充一个新背景 */
body {
    background:
            url('https://macjpeg.macsc.com/macw/pic/202108/04151326_624f0290a7.jpeg')
            fixed no-repeat center / cover
    !important;
}