/* 隐藏没必要的URL */
span.description-text {
    display: none;
}

/* 美化iframe */
iframe {
    border-radius: 0.5rem !important;
}
/* 隐藏日志广告信息 */
#blogPrivilegeAd {
    display: none;
}

/* 主页 */
#id_INNER {
    display: none !important;
}
#ifeedsContainer {
    padding-top: 0;
}

/* 说说 */
div.feed_head.bbor3 {
    display: none;
}
div.bor.mod-tab.author_display {
    display: none;
}

/* 日志 */
#cheatHintArea {
    display: none;
}
